*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, georgia,sans-serif;
}

body{
    background-image:linear-gradient(to top left, #c05ebd,#4eb6a6);
    color: #fff
}

header{

}

nav{

 position: fixed;
 top: 150px;
 right:5px;
 margin: 0 auto;
}
nav ul{
    float:right;
}
li:first-child{
    border:0;
}
nav ul li{
    list-style: none;
    width:120px;
   border-top: 1px solid #c05ebd;
    

}
li a:hover{
    background-color: #662D8C;

}
li a{
    text-decoration: none;
    background-color: #4eb6a6;
    line-height: 10px;
    display: block;
    padding:20px;
    color:#fff
}
section{
    border: 1px solid #ccc;
    padding: 50px;
    width:80%;
    min-width:50%;
    max-width: 1100px;
}
header h1{
    padding: 10px;
    margin:20px;
    text-align:center;
    font-size:62px
}

.explicativo{
   margin-bottom: 40px;
   margin-top: 20px; 

}

h2{
    padding-bottom:10px;
    font-size:47px;
}

.cor{
    width:250px;
    height:100px;
    color: #fff;
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding:25px;
}
.centro{color:#000}
.um{
    background-color:#00A8C5;
}
.dois{
    background-color:#FFFF7E;
}
.resultado1{
    background-image: linear-gradient(to bottom right,#00A8C5,#FFFF7E)
}
.tres{
    background-color:#D74177;
}
.quatro{
    background-color:#FFE98A;
}
.resultado2{
    background-image: linear-gradient(to right,#D74177,#FFE98A )
}
.cinco{
    background-color:#2E3192;
}
.seis{
    background-color:#18FFFF;
}
.resultado3{
    background-image: linear-gradient(to top right, #2E3192,#18ffff )
}
.sete{
    background-color:#662D8C;
}
.oito{
    background-color:#ED1E79;
}
.resultado4{
    background-image: linear-gradient(to bottom right,#662D8C,#ED1E79 )
}

/* Seccao das Fontes */

#fontes div{
    margin-top: 25px;
    display:inline-block;
    margin: 0 auto;
    padding: 20px
}

h3{
    margin-bottom:10px;
    font-size: 35px;
}
.explicativo2{
    max-width: 450px;
    margin-top:10px;
    font-size: 22px;
}
#fontes .centrar{
    
    display:block;
    width:450px;
    margin: 10px auto;
}
.helvetica{
    font-family: helvetica;
}
.georgia{
    font-family: georgia;
}
.fallback{
    font-family: sans-serif;
}


/*FORMATACAO DO TEXTO*/

#textos h1{
    font-size:32px;
    font-weight:560px;
    font-family: Helvetica;
    margin-top: 25px;
}
#textos h2{
    font-size:22px;
    font-weight:450px;
    font-family: Helvetica;
    margin-top: 25px;
}
#textos h3{
    font-size:16px;
    font-weight:360px;
    font-family: Helvetica;
    margin-top: 25px;
}
#textos li{
    margin-left:50px;
}

/*RODAPE*/

footer{
    width: 100%;
    height: 60px;
    background-color:#4eb6a6;
}
footer p{
    text-align:center;
    padding:20px;
}
